/wandb* 
*.npz
k700_train_361.tar.gz
*.tar.gz
*.tar
*.mp4
evals/intphy2/IntPhys2/prediction_evals/datasets
evals/intphy2/IntPhys2/checkpoint

*webm
*.mp4
*.jpg
*.zip
src/helicop/632104250f5a6d6441a4baaad088f1b08fb40d73657e230c2c2235a03fa1c96e5ea56998386399218a55a457604f5964f27f21e1be67de4bee8b5ef8e2963a73
/datasets/IntPhy2.zip
/videos
/Heldout
/Debu
*/ssv2/*
20bn*
evals/pusht
local_tests.ipynb
*.pyc

*.csv
checkpoints_ema_jax
dataset_ssv2
*/wandb/*
*.mp4
*.webm
*.log
evals/action_recog/datasets
*.csv
*.pt
*.pth

datasets/kinetics_dataset
.jax_cache/
datasets/ssv2
*.log
*.wandb
wandb

local_tests.ipynb
*.txt
datasets/IntPhys2.zip
