/wandb* 
*.npz
k700_train_361.tar.gz
*.tar.gz
*.tar
*.mp4

*/ssv2/*
20bn*
evals/pusht
*.pyc

*.csv
checkpoints_ema_jax

*/wandb/*
*.log
evals/action_recog/datasets
*.csv
*.pt
*.pth

datasets/kinetics_dataset
datasets/ssv2