/wandb* 
*.npz
k700_train_361.tar.gz
*.tar.gz
*.tar
*.mp4

*/ssv2/*
20bn*
evals/pusht
*.pyc

*.csv
checkpoints_ema_jax

*/wandb/*
*.mp4
*.webm
*.log
evals/action_recog/datasets
*.csv
*.pt
*.pth

datasets/kinetics_dataset
.jax_cache/
datasets/ssv2
*.log
*.wandb
wandb
*.txt
